server {
  server_name student-portal.local;
  root /home/alexdz/Projects/Alex/Training/build-webapp-2014-book/student-portal/public;

  location / {
    # because of "internal", without this on / -> 403 Forbidden
    index index.php;

    try_files $uri $uri/ /index.php$is_args$args;
  }

  location /index.php {
    include snippets/fastcgi-php.conf;
    fastcgi_pass unix:/var/run/php/php8.0-fpm.sock;

    # on /index.php -> 404
    internal;
  }
}